<div class="media-center row">
	<div class="span5">
		<h2> Se é um <strong>Voluntário</strong> que pretende ser recrutado registe-se aqui </h2>
		<%= link_to "Registo de Voluntários", new_volunteer_path, class: "btn btn-large btn-primary" %>
	</div>
	<div class="span5">
		<h2> Se é uma <strong>Instituição</strong> á procura de Voluntários registe-se aqui </h2>
		<%= link_to "Registo de Instituições", institution_signup_path, class: "btn btn-large btn-primary" %>
	</div>
</div>