<% provide(:title, 'Sobre') %>
<h1>Sobre</h1>
<p>
	A Bolsa de Voluntários de Lisboa é um projecto do Departamento de Voluntariado da Camâra Municipal de Lisboa que faz a ligação dos voluntários com as necessidades de instituições.
</p>
<h3> Equipa </h3>