<% provide(:title, 'Sobre') %>
<h1>Sobre</h1>
</br>
<blockquote class="pull-right">
	<em class="lead">Voluntariado é o conjunto de acções de interesse social e comunitário realizadas de forma desinteressada por pessoas, no âmbito de projectos, programas e outras formas de intervenção ao serviço dos indivíduos, das famílias e da comunidade desenvolvidos sem fins lucrativos por entidades públicas ou privadas.</em>
	<small>Lei n.º 71/98 de 3 de Novembro, Artigo 2.º, n.º 1</small>
</blockquote>
</br>

<p>O BVL tem como missão valorizar o voluntariado, capacitando as entidades, reforçando o número de voluntários, enquadrados, e qualificando a sua intervenção.
Desta forma, contribui para a participação cívica dos cidadãos, um elemento chave do reforço da coesão social e da consolidação da democracia. As actividades de voluntariado constituem uma experiência enriquecedora, permitindo o desenvolvimento de capacidades e competências sociais que contribuem para o reforço da solidariedade.Atualmente o BVL tem cerca de 900 voluntários inscritos e colabora com cerca de 100 entidades da cidade de Lisboa, através da divulgação de oportunidades, do recrutamento e enquadramento em projetos de voluntariado. </p>

<div class="row">
	<div class="span6">
		<p><strong>Objectivos específicos:</strong>
			<ul>
				<li>Acolher candidaturas de pessoas interessadas em fazer Voluntariado, bem como receber solicitações de voluntários por parte de entidades promotoras;</li>
				<li>Analisar e caracterizar a procura e a oferta de Voluntariado para proceder a um encaminhamento óptimo de voluntários para entidades promotoras de Voluntariado;</li>
				<li>Acompanhar a inserção de voluntários nas entidades para onde foram encaminhados;</li>
				<li>Promover acções de formação genérica;</li>
				<li>Disponibilizar ao público informações sobre Voluntariado.</li>
			</ul>
		</p>
	</div>
	<div class="span6">
		<p><strong>Objectivos gerais:</strong>
			<ul>
				<li>Promover o encontro entre a procura e a oferta de voluntariado;</li>
				<li>Sensibilizar, apelar a consciências e vontades para o exercício de uma nova cidadania, que se quer mais justa e solidária;</li>
				<li>Incentivar e promover o estreitamento e a cooperação entre instituições promotoras de voluntariado;</li>
				<li>Contribuir para a promoção e qualificação do voluntariado;</li>
				<li>Contribuir para o aprofundamento do conhecimento do Voluntariado, divulgando projectos e oportunidades de Voluntariado.</li>
				<li>Contribuir para o aprofundamento do conhecimento do Voluntariado, divulgando projectos e oportunidades de Voluntariado.</li>
				<li> Apoio a entidades que solicitam apoio do BVL na implementação de projectos de voluntariado. </li>
			</ul>
		</p>
	</div>
</div>
 
</br>
<p><strong>Links Úteis:</strong>
	<ul class="unstyled">
		<li><a href="http://www.volunteerbook.net/">VolunteerBook</a></li>
		<li><a href="http://juventude.gov.pt/Voluntariado/Paginas/default.aspx">Instituto Português da Juventude, IPJ - Portal da Juventude</a></li>
		<li><a href="http://www.voluntariado.pt/">Conselho Nacional para a Promoção do Voluntariado</a></li>
		<li><a href="http://www.isu.pt/home/">Instituto de Solidariedade e Cooperação Universitária, ISU</a></li>
	</ul>
</p>
