<% provide(:title, 'Contactos') %>
<h1>Contactos</h1>
<div class="row">
	<div class="span5">
		<h3>Atendimento</h3>
		<p>O atendimento geral do Banco de Voluntariado para a Cidade de Lisboa está integrado no Balcão Social Único, sito no Edifício Central, no Campo Grande, 25, piso 0 – Bloco E, nos dias úteis, das <strong>8h00 às 20h00</strong>.</p>
		<address>
			Edifício Central da Câmara Municipal de Lisboa
			Campo Grande 25
			1749-099 Lisboa 
		</address>
	</div>
	<div class="span2"></div>
	<div class="span5">
		<h3>Morada</h3>
		<address>
		  Departamento de Desenvolvimento Social<br>
			Divisão de Cidadania e Inovação Social<br>
			Banco de Voluntariado para a Cidade de Lisboa<br>

			Edifício Central da Câmara Municipal de Lisboa<br>
			Campo Grande, nº. 25, Piso 0, Bloco E (Atendimento) - 1749-099 Lisboa<br>
		</address>
	</div>
</div>
<div class="row">
	<div class="span6">
		<h3>Telefones</h3>
		<address>
		  <strong>Geral:</strong> 217 988 000<br>
		  217 988 314<br>
		  217 989 569<br>
		  217 989 530<br>
		  910 213 993<br>
		</address>
	</div>

	<div class="span6">
		<h3>Email</h3>
		<address>
			<strong>Geral:</strong>
		  <a href="mailto:#">banco.voluntariado@cm-lisboa.pt</a>
		</address>
	</div>
</div>


 
			

			