<div class="center hero-unit">
  <h1> Bem-vindo ao </br> Banco de Voluntariado de Lisboa </h1>
	</br>
	<%= render 'video' %>
	</br><br>
  <%= render 'signups' %>
</div>

<%= link_to image_tag("bvl.jpg", alt: "BVL", id: "home-logo", class: "media-center img-polaroid"), '#' %>