<footer class="footer">
  <small>
    <a href="http://jfloff.github.com/bvl/">Site do Banco de Voluntariado de Lisboa</a>
    por <strong>João Ferreira Loff</strong>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre", about_path %></li>
      <li><%= link_to "Contactos", contact_path %></li>
    </ul>
  </nav>
</footer>